<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assignment 2</title>
    <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
</head>
<body style="background-color:teal;">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/page2.html">Page2</a></li>
    <li><a href="/page3.html">Page3</a></li>
    <li><a href="/page4.html" class="active">Page4</a></li>
    <li><a href="/page5.html">Page5</a></li>

</ul>
<div style="float:right;">
    <h1>Shruthaja P Rao</h1>
    <h2>1002118604</h2>
</div>
<h2> Press Button to Cluster all earthquakes! </h2>
<div style="margin-top:3%;">
    <form action="/page4.html" method="post"><br>
        <p>Enter starting mag </p> <input name="smagnum">
        <p>Enter ending mag</p>
        <input name="emagnum"><br>
        <input style="margin-top:1%;" type="submit" placeholder="Click me!">
    </form>
    <div style="margin-top:2%">
        <h2> Earthquakes with magnitude {{smagnum}} to {{emagnum}}</h2>

    </div>
</div>
<div style="width:75%;height:75%;" id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
<script>

    var rows = {{result | tojson}}

function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}

var data = [{
  x: unpack(rows, 'x'),
  y: unpack(rows, 'y'),
  z: unpack(rows, 'z'),
  mode: 'markers',
  type: 'scatter3d',
  marker: {
    color: 'rgb(23, 190, 207)',
    size: 2
  }
}, {
  alphahull: 7,
  opacity: 0.1,
  type: 'mesh3d',
  x: unpack(rows, 'x'),
  y: unpack(rows, 'y'),
  z: unpack(rows, 'z')
}];

var layout = {
  autosize: true,
  height: 750,
  scene: {
    aspectratio: {
      x: 1,
      y: 1,
      z: 1
    },
    camera: {
      center: {
        x: 0,
        y: 0,
        z: 0
      },
      eye: {
        x: 1.25,
        y: 1.25,
        z: 1.25
      },
      up: {
        x: 0,
        y: 0,
        z: 1
      }
    },
    xaxis: {
      type: 'linear',
      zeroline: false
    },
    yaxis: {
      type: 'linear',
      zeroline: false
    },
    zaxis: {
      type: 'linear',
      zeroline: false
    }
  },
  title: '3d point clustering',
  width: 750
};

Plotly.newPlot('myDiv', data, layout);


</script>
</body>
</html>