<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/style.css"><link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<title>Assignment 2</title>
</head>
<body style="background-color:teal;">
<ul>
  <li><a href="/" >Home</a></li>
  <li><a href="/page2.html"  >Page2</a></li>
  <li><a href="/page3.html" >Page3</a></li>
  <li><a href="/page4.html" class="active">Page4</a></li>
</ul>
<div style="float:right;" >
<h1>Shruthaja P Rao</h1>
<h2>1002118604</h2>
</div>
<div style="margin-top:3%">
<form action="/page4.html" method="post">
        <label>Press Button to Cluster all earthquakes! </label><br>
        <input style="margin-top:2%" type="submit" placeholder="Click me!">
    </form>
</div>
</body>
</html>