<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="https://d3js.org/d3.v4.js"></script>
    <title>Assignment 2</title>
</head>
<body style="background-color:teal;">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/page2.html">Page2</a></li>
    <li><a href="/page3.html">Page3</a></li>
    <li><a href="/page4.html" class="active">Page4</a></li>
    <li><a href="/page5.html">Page5</a></li>

</ul>
<div style="float:right;">
    <h1>Shruthaja P Rao</h1>
    <h2>1002118604</h2>
</div>
<h2> Press Button to Cluster all earthquakes! </h2>
<div style="margin-top:3%;">
    <form action="/page4.html" method="post"><br>
        <p>Enter starting mag </p> <input name="smagnum">
        <p>Enter ending mag</p>
        <input name="emagnum"><br>
        <input style="margin-top:1%;" type="submit" placeholder="Click me!">
    </form>
    <div style="margin-top:2%">
        <h2> Earthquakes with magnitude {{smagnum}} to {{emagnum}}</h2>
        <table id="example3" class="display" style="font-size:9px">
            <thead>
            <tr>
                <th>time</th>
                <th> latitude</th>
                <th>longitude</th>
                <th>depth</th>
                <th>mag</th>
                <th>magType</th>
                <th>nst</th>
                <th>gap</th>
                <th>dmin</th>
                <th>rms</th>
                <th>net</th>
                <th>id</th>
                <th>updated</th>
                <th>place</th>
                <th>type</th>
                <th>horizontalError</th>
                <th>depthError</th>
                <th>magError</th>
                <th>magNst</th>
                <th>status</th>
                <th>locationSource</th>
                <th>[magSource]</th>
            </tr>
            </thead>
            <tbody>
            {% for i in result %}
            <tr>
                {% for j in i %}
                <td>
                    <div class=scrollable>{{j}}</div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="my_dataviz">



        </div>

    </div>
</div>

<script>

$('#example3').DataTable();


</script>
</body>
</html>